font-family: 'Roboto', sans-serif;

*{
    box-sizing: border-box;
}
header{
    background-color: white;
}
body{
    background-color: lightgrey;
}
/* Logo */
h1{
    display: inline-block;
}
.logo{
    vertical-align: middle;
}

/* Bottoni */
.container{
    background-color: white;
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    padding-left: 30px;

}
button{
    border-radius: 5px;
    padding: 5px;
    border-width: 1px;
}
#boxbottoni{
    padding-top: 10px;
    padding-bottom: 5px;
}
.bottone1{
    color: white;
    background-color: #45ABEA;
    border-color: lightblue;
}
.bottone2{
    color:lightgrey;
    border-color: lightgrey;
    background-color: white;
}
hr{
    color: lightgrey;
}

/* Sezioni */
.titoli{
    display: inline-block;
    vertical-align: top;
    margin: 0px;
}
.triangolino{
    font-size: 35px;
    vertical-align: middle;
}


/* Simboli */
.box-simboli{
    display: inline-block;
}
.spunta{
    text-align: center;
    width: 25px;
    height: 25px;
    color: green;
    border: solid green 1px;
    border-radius: 50%;
}
.crocetta{
    text-align: center;
    width: 25px;
    height: 25px;
    color: red;
    border: solid red 1px;
    border-radius: 50%;
}

.targhetta{
    padding: 5px;
    border-radius: 10px;
}

/* colori targhette */
.editorial{
    background-color: #45ABEA;
}
#goals{
    background-color: #9C72E4;
}
#recruiting{
    background-color: #64C0A9 ;
}
#mobile{
    background-color: #F29E33;
}
#website{
   background-color: #D863A1;
}
#sales{
    background-color:#B0C926 ;
}

/* Margine sezioni */


/* &#10007; */
/* &#10003; */