*{
    box-sizing: border-box;
}
header{
    background-color: white;
}
body{
    background-color: lightgrey;
}

h1{
    display: inline-block;
}
.logo{
    vertical-align: middle;
}

.container{
    background-color: white;
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
}
button{
    border-radius: 5px;
    padding: 5px;
    border-width: 1px;
}
#boxbottoni{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 30px;
}
.bottone1{
    color: white;
    background-color: #45ABEA;
    border-color: lightblue;
}
.bottone2{
    color:lightgrey;
    border-color: lightgrey;
    background-color: white;
}
hr{
    color: lightgrey;
}
.titoli{
    display: inline-block;
    vertical-align: top;
    margin: 0px;
}
.triangolino{
    font-size: 35px;
    vertical-align: middle;
}

.boxtitolo{
    
}
.box-simboli{
    display: inline-block;
}
#spunta{
    text-align: center;
    width: 25px;
    height: 25px;
    color: green;
    border: solid green 1px;
    border-radius: 50%;
}
.editorial{
    background-color: #45ABEA;
}
.targhetta{
    padding: 5px;
    border-radius: 10px;
}


/* &#10007; */
/* &#10003; */